/* PANTALLA CHICA */
@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.enterate-mas {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;

    .contenido {
        padding: 80px 0;

        h3 {
            font-size: 50px;
            color: $orange-1 ;
            font-weight: 700;
            margin-bottom: 20px;
            padding-left: 29px;
            padding-bottom: 25px;
            position: relative;
        }

        p {
            font-size: 14px;
            color: $beige-1;
        }
    }

    .conteido {
        h3 {
            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 60px;
                height: 4px;
                background: #000100;
                left: 0;
                bottom: 0;
            }
        }
    }

    .php-email-form {
        .container {
            h3 {
                padding-top: 30px;
                color: $white;
                font-size: 25px;
                font-family: $font-family_1;
            }

            p {
                color: $beige-1;
            }
        }

        h3 {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .error-message {
            display: none;
            color: $white;
            background: #df1529;
            text-align: left;
            padding: 15px;
            margin-bottom: 24px;
            font-weight: 600;
        }

        .sent-message {
            display: none;
            color: $color_2;
            background: #059652;
            text-align: center;
            padding: 15px;
            margin-bottom: 24px;
            font-weight: 600;
        }

        .loading {
            display: none;
            background: #C4BBAF;
            text-align: center;
            padding: 15px;
            margin-bottom: 24px;

            &:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid #C4BBAF;
                border-top-color: $rojo-1;
                animation: animate-loading 1s linear infinite;
            }
        }

        input {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            border-radius: 0;
            padding: 12px 15px;

            &:focus {
                border-color: $rojo-1;
            }
        }

        textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            border-radius: 0;
            padding: 12px 15px;

            &:focus {
                border-color: $rojo-1;
            }
        }

        button[type=submit] {
            background: #79000C;
            border: 0;
            padding: 10px 30px;
            color: $color_2;
            transition: 0.4s;
            border-radius: 4px;
            margin-bottom: 25px;

            &:hover {
                background: #f1c270;
            }
        }
    }
}

@media (max-width: 575px) {
    .enterate-mas {
        .php-email-form {
            padding: 20px;
        }
    }
}