//Fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


$font-family_1: 'League Spartan', sans-serif;
$font-family_2: 'Oswald', sans-serif;
//Colores



$bordo-1: (
    #79000C
);
$rojo-1: (
    #AA0008
);
$gold-2: (
    #dab06a
);
$gray-1: (
    #f9f9f9
);
$gray-2: (
    #7a7979
);
$beige-1: (
    #FBF8EE
);
$brown-1 :(#BDA477);
$brown-2 :(#530007);
$orange-1 :(#f1c270);
$orange-2 :(#ffedca);
$white :(#b7b7b7);
$yellow-1_: (
    #dab16a7e
);
$yellow-2 :(#ffdc9c);
$red-1 :(#f2db94);
$red-2: (
    #c41a1a
);
$black : rgb(20, 20, 20);